{% extends './layouts/default.html.twig' %}

{% block login %}
{% if login %}
<div class="navbar-nav dropdown mr-sm-2">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   {{ user }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
{% else %}
    <a href="/blog-project/login" class="navbar-brand">se connecter</a>
{% endif %}

{% endblock %}