{% extends './layouts/default.html.twig' %}

{% block login %}
{% if user %}
<div class="btn-group dropstart">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    {{ user.name }}
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/blog-project/admin/user/modify/{{ user.name }}-{{ user.id }}">Profil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/blog-project/admin/logged">Administration</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item bg-danger" href="/blog-project/logout">Deconnexion</a></li>
    </ul>
</div>
{% else %}
    <a href="/blog-project/login" class="navbar-brand">se connecter</a>
{% endif %}

{% endblock %}