{% extends './layouts/default.html.twig' %}

{% block message %}
{% if message %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-10 mt-5 text-center"  >
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ message | raw}}
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        {{ message | raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
