{% extends './layouts/default.html.twig' %}

{% block message %}
{% if message %}
<div class="container ">
<div class="row justify-content-center">
    <div class="col-10 text-center"  >
        {% if error %}
            {% if login %}
                <div class="alert alert-danger" role="alert">
                    <h5 class="alert-heading">Compte inactif</h5>
                    <p class="mb-0">Votre compte est désactivé <br> Merci de vous rapprocher de votre administrateur.</p>
                </div>
            {% else %}
                <div class="alert alert-danger " role="alert">
                    <h5 class="alert-heading">Connexion impossible</h5>
                    <p class="mb-0">L'identifiant et/ou mot de passe incorrect.</p>
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-success" role="alert">
                <h5 class="alert-heading">Suppression réussie</h5>
                <p class="mb-0">La supression du post a été éffectuée</p>
            </div>
        {% endif %}
    </div>
</div>
</div>
{% endif %}
{% endblock %}
