{% extends './layouts/connection.html.twig' %}


{% block content %}
 <header class="masthead" style="background-image: url('/blog-project/public/img/forgetpwd.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading text-center">
                            <h1>Mot de passe oublié</h1> 
                        </div>
                    </div>
                </div>
            </div>
        </header>
            
    {% if error %}
        {% if login %}
            <div class="col-10 alert alert-danger " role="alert">
                <h4 class="alert-heading">Compte inactif</h4>
                <hr>
                <p class="mb-0">Votre compte est désactivé <br> Merci de vous rapprocher de votre administrateur.</p>
            </div>
        {% else %}
            <div class="col-10 alert alert-danger " role="alert">
                <h4 class="alert-heading">Connexion impossible</h4>
                <hr>
                <p class="mb-0">L'identifiant et/ou mot de passe incorrect.</p>
            </div>
        {% endif %}    
    {% endif %} 
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7 border border-dark">     
            <form action="" method="post">
                <div class="form-group mt-4">
                    <input class="form-control text-center" type="email" name="email" placeholder="Adresse e-mail">
                </div>
                <div class="form-group m-4 float-end">
                    <button class="btn btn-primary" type="submit">Soumettre</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}