{% extends './layouts/pagination.html.twig' %}

{% block content %}
<header class="masthead" style="background-image: url('{{ baseUrl }}/public/img/blogwcloud2.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                <div class="post-heading">
                    <h1>Présentation du créateur de ce blog</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</header>
<h2 class="col-12">Bonjour {{ authUser.username }} </h2>
<main role="main" class="site-content">
    <div class="text-bg-dark rounded-pill py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <img src="{{ baseUrl }}/public/img/photo.png" class="py-auto rounded-circle h-100 w-100" alt="photo" >
                </div>
                <div class="text-bg-dark rounded-pill col-lg-9 mt-3 text-center ">
                    <h2>Dubus Jérôme</h2>
                    <h3>Étudiant développeur d'applications PHP / Symfony chez OpenClassrooms</h3>
                    <a href="{{ baseUrl }}/public/doc/moncv.pdf" type="button" class="btn btn-primary mt-3">Mon cv</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 mt-4 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7"> 
            <div class="form-group text-center">
                <h3>Me contacter</h3>
                <form method="post" action="">
                    <div class="row">
                        <div class="col-lg-6 pt-3">
                            <input type="text" name="name" class="form-control text-center" placeholder="Nom et prénom" required>
                        </div>
                        <div class="col-lg-6 pt-3">
                            <input type="email" name="email" class="form-control text-center" placeholder="Adresse email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pt-3">
                            <textarea name="content" class="form-control" rows="4" id="message" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pt-3">
                            <input class="btn btn-primary" type="submit" value="Envoyer">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
