{% extends './layouts/pagination.html.twig' %}


{% block content %}
 <header class="masthead" style="background-image: url('{{ baseUrl }}/public/img/connexion.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading text-center">
                            <h1>Se connecter</h1> 
                            
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            
    
    <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 border border-dark">     

    
        <form action="{{ baseUrl }}/login" method="post">
            <div class="form-group mt-4">
                <input class="form-control" type="text" name="login" placeholder="Identifiant">
            </div>
            <div class="form-group mt-4">
                <input class="form-control" type="password"  name="password" placeholder="Mot de passe">
            </div>
            <div class="form-group m-4  float-end">
                <button class="btn btn-primary" type="submit">Connexion</button>
            </div>
        </form>
        <a href="{{ baseUrl }}/login/forget" class="row m-4 ">Mot de passe oublié</a>
    </div>
    </div>
{% endblock %}
