{% extends './layouts/connection.html.twig' %}

{% block content %}    
<h1>Panneau des commentaires</h1>         
<div class="container">    
    <a href="/blog-project/admin/comments" class="btn btn-secondary">Commentaires</a>
</div>

{% endblock %}
