

{% extends './layouts/default.html.twig' %}

{% block content %}    
<h1>Panneau d'administration</h1>
<div class="container">    
            <a href="/blog-project/admin" class="btn btn-secondary">Posts</a> 
            <a href="/blog-project/admin" class="btn btn-secondary">Utilisateurs*</a> 
            <a href="/blog-project/admin" class="btn btn-secondary">Commentaires*</a>
</div>
{% endblock %}