
{% extends './layouts/connection.html.twig' %}

{% block content %}    
<h1>Panneau d'édition</h1>         
<div class="container">    
            <a href="/blog-project/admin/posts" class="btn btn-secondary">Posts</a> 
            <a href="/blog-project/admin?comments" class="btn btn-secondary">Commentaires*</a>
</div>
{% endblock %}
