

{% extends './layouts/default.html.twig' %}

{% block content %} {% for post in posts %}
            
            <div class="col-md-3">            
                <div class="card mb-3 bg-primary bg-gradient text-light">
                    <div class="card-body">
                        <h5 class="car-title text-warning">{{ post.name }}</h5>
                        <p class="text-muted text-white bg-light">{{ post.createdAt }}</p>
                        <pclass="card-text">{{ post.excerptContent }} </p>
                    </div>
                </div>
            </div>

{% endfor %}
{% endblock %}